@import "../../variables";

.container {
  display: flex;
  min-height: 470px;
}

.filesColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 70%;
  margin-right: 24px;
}

.files {
  padding: 10px;
  border-radius: var(--block-border-radius);
  background-color: var(--file-list-color);
}

.suggestColumn {
  width: 30%;
}

.footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 40px;
}
