@import "../../variables";

.dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    height: 80px;
    border-radius: var(--block-border-radius);
    color: #1a65cc;
    border: 2px dashed #4886d8;
    margin-bottom: 24px;
    transition: 200ms;
    cursor: pointer;
    outline: none;
}

.disabled {
    color: #00000044;
    border-color: #00000044;
}

.dragging {
    border-style: solid;
    border-color: var(--success-color);
    color: var(--success-color);
}
