@import "../../variables";

.item {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  margin: 10px 10px 0 0;
  border-radius: var(--tag-border-radius);
  background-color: var(--tag-color);
  color: #fff;
  cursor: grab;
  transition: transform 200ms ease-in-out;

  &:hover {
    background-color: var(--tag-color_hover);
    transform: translate(-2px, -2px);
    
    .shadow {
      opacity: 1;
    }
  }
}

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--tag-border-radius);
  box-shadow: 0 4px 10px 0 #00000033;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ghost {
  position: absolute;
  display: inline-block;
  left: -9999px;
  background-color: var(--tag-color_hover);
  color: #fff;
  padding: 8px;
  border-radius: var(--tag-border-radius);
}
