@import "../../variables";

.item {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  margin: var(--item-padding) var(--item-padding) 0 0;
  border-radius: var(--item-border-radius);
  background-color: var(--tag-color);
  color: #fff;
  cursor: grab;
  transition: transform 200ms ease-in-out;

  &:hover {
    background-color: var(--tag-color_hover);
    transform: translate(-2px, -2px);
    
    .shadow {
      opacity: 1;
    }
  }
}

.disabled {
  &.item {
    cursor: not-allowed;
    color: #00000044;
    background-color: var(--tag-color_disabled);
    
    &:hover {
      transform: none;
      .shadow {
        opacity: 0;
      }
    }

    .count {
      background-color: var(--success-color);
    }
  }
  
}

.content {
  display: flex;
  align-items: center;
}

.count {
  margin-left: 8px;
  height: 24px;
  min-width: 24px;
  padding: 0 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: #ffffff33;
  
  svg {
    width: 16px;
    height: 16px;
    fill: white;
  }
}

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--item-border-radius);
  box-shadow: var(--tag-box-shadow);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ghost {
  position: absolute;
  display: inline-block;
  left: -9999px;
  background-color: var(--tag-color_hover);
  color: #fff;
  padding: 8px;
  border-radius: var(--item-border-radius);
}
