@import "../../variables";

.file {
    background-color: #ffffff33;
    margin-top: var(--item-padding);
    border-radius: var(--item-border-radius);
    box-sizing: border-box;
    min-height: 60px;
    position: relative;
    overflow: hidden;

    .delete:hover {
        opacity: 1;
    }
    
    &:first-child {
        margin-top: 0;
    }
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 8px 16px;
    z-index: 1;
    pointer-events: none;
}

.container > * {
    pointer-events: none;
}

.content {
    display: flex;
    z-index: 10;
}

.data {
    overflow: hidden;
    margin-right: 20px;
    pointer-events: none;
}

.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #424356;
}

.meta {
    display: flex;
    align-items: baseline;
    font-size: 13px;
    line-height: 20px;
    color: #9ea1af;
    margin-top: 4px;
}

.size {
    margin-right: 8px;
}

.loaded {
    margin-right: 8px;
}

.controls {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.delete {
    opacity: 0.3;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    background-color: #00000033;
    transition: opacity 100ms ease-in-out;
    cursor: pointer;
    pointer-events: initial;

    svg {
        width: 8px;
        height: 8px;
        fill: black;
    }
}

.progressBar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform 400ms ease-in-out, background-color 100ms;
    background-color: #fff;
    z-index: 0;
    pointer-events: none;
}

.dragging {
    .delete {
        display: none;
    }

    .progressBar {
        background-color: #ffffff33;
    }
}


.dragHover {
    &.file {
        background-color: #ffffff66;
    }

    .progressBar {
        background-color: white;
    }
}
