.container {
    display: flex;
    padding: 40px;
}

.files-column {
    flex-grow: 1;
    width: 70%;
    padding: 32px;
    border-radius: 12px;
    margin-right: 24px;
    background-color: #cfd9ed;
}

.suggest-column {
    width: 30%;
}

.suggest-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid tomato;
    margin-top: 5px;
}
