:root {
  --primary-color: #3448b1;
  --primary-color-alpha: #3448b122;
  --success-color: #58bb6d;
  --success-color_alpha: #58bb6d88;
  
  --item-padding: 10px;
  --item-border-radius: 8px;
  
  --block-border-radius: 12px;
  
  --tag-color: var(--primary-color);
  --tag-color_hover: #335cd2;
  --tag-color_disabled: var(--primary-color-alpha);
  --tag-box-shadow: 2px 4px 10px 0 #335cd266;
  
  --file-list-color: var(--primary-color-alpha);
}
